<div class="content-wrapper">
    <h1>User Profile</h1>
    <div class="col-sm-offset-4 col-sm-5">
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
    </div>
    <form class="form-horizontal"  method="post" enctype="multipart/form-data" action="/admin/profile?_csrf={{csrfToken}}">
        <div class="col-sm-offset-5 col-sm-5">
            {{#if userProfile.avatar}}
                <img src="{{userProfile.avatar}}"  style="max-width: 200px;max-height: 200px;" alt="..." class="img-responsive" id="output"></br>
            {{else}}
                <img src="https://www.queenoftickets.com/media/wysiwyg/ausopen/Roger-Federer.jpg"  style="max-width: 200px;max-height: 200px;" alt="..." class="img-responsive" id="output"></br>
            {{/if}}

            <input type="file" accept="image/*" name="avatarimg" id="avatarimg"  onchange="loadFile(event,'output')"><br>
        </div>

        <div class="form-group">
            <label style = "font-size: 14px;" class="control-label col-sm-4" for="name">Full name</label>
            <div class="col-sm-5">
                <input type="text" id="name" name="name" class="form-control" placeholder="Full name" value="{{userProfile.name}}">

            </div>
        </div>
        <div class="form-group">
            <label style = "font-size: 14px;" class="control-label col-sm-4" for="email">Email</label>
            <div class="col-sm-5">
                  <label style = "font-size: 14px;" class="control-label">{{userProfile.email}}</label>
            </div>
        </div>
        <div class="form-group">
            <label style = "font-size: 14px;" class="control-label col-sm-4" for="role">Role</label>
            <div class="col-sm-5">
                <label style = "font-size: 14px;" class="control-label">{{userProfile.role}}</label>
            </div>
        </div>
        <div class="form-group">
            <label style = "font-size: 14px;" class="control-label col-sm-4" for="password">Password</label>
            <div class="col-sm-5">
                <!--<input type="password" id="password" name="password" class="form-control" placeholder="Password">-->
                <a href="#" id="changepass"><label class="control-label">Change password</label></a>
            </div>
        </div>
        <changepass hidden>
            <div class="form-group">
                <label style = "font-size: 14px;" class="control-label col-sm-4" for="oldpass">Old password</label>
                <div class="col-sm-5">
                    <input type="password" id="oldpass" name="oldpass" class="form-control" placeholder="Old Password">
                </div>
            </div>
            <div class="form-group">
                <label style = "font-size: 14px;" class="control-label col-sm-4" for="newpass">New password</label>
                <div class="col-sm-5">
                    <input type="password" id="newpass" name="newpass" class="form-control" placeholder="New Password">
                </div>
            </div>
            <div class="form-group">
                <label style = "font-size: 14px;" class="control-label col-sm-4" for="passwordretype">Password retype</label>
                <div class="col-sm-5">
                    <input type="password" id="passwordretype" name="passwordretype" class="form-control" placeholder="Retype Password">
                </div>
            </div>
        </changepass>

        <div class="col-sm-offset-5 col-sm-6">
            <input type="submit" class="btn btn-primary" value="Confirm">
        </div>
    </form>
</div>
