<div class="span9 products-view-all" id="content">
	<div class="well well-small">
	<h3>Our Products </h3>
<!--  <div id="paging"> -->	
 <form class="post-list">
    <input type="hidden" value=""/>
  </form>
 <div class="row-fluid pagination-container">
<!--
{{# each products }}
	<ul class="thumbnails">
	{{# each this }}
  <li class="span4">
    <div class="thumbnail">
	<a href="/viewproduct/detail/{{this.id}}" class="overlay"></a>
	<a class="zoomTool" href="/viewproduct/detail/{{this.id}}" title="add to cart"><span class="icon-search"></span>VIEW DETAIL</a>
      <a href="/viewproduct/detail/{{this.id}}"><img src="{{this.imagePath.[0]}}" alt="..." ></a>
      <div class="caption cntr">
        <p class="productTitle">{{this.title}}</p>
		<p style = "color:#f89406"><strong> ${{this.price}}</strong></p>
        
      </div>
    </div>
	</li>
	{{/each}}
  </ul>

{{/each}}
-->
</div>
<div class="pagination-nav"></div>
</div>
</div>
